<template>
  <div id="horses-list">
    <header>
      <div class="title-bar rw">
        <div class="cl-4">
          <div class="title-bar__main-group">
            <h1 class="title-bar__title">Horses</h1>
          </div>
        </div>
      </div>
      <div class="tabs-bar">
        <tabs :tabList="tabs.list" :on-tab-change="tabChange" v-model="tabs.active"></tabs>
        <div class="tab-ctas">
          <div class="filter-cta" id="filter-form">
            <div class="button">
              <span class="txt">Filter</span>
              <span class="icon-cnt">
                <svg>
                  <use href="#filter"/>
                </svg>
              </span>
            </div>
          </div>
          <div class="action-cta">
            <div class="button">
              <svg>
                <use href="#plus"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Design table -->
    <table>
            <thead>
            <tr>
                <th><input type="checkbox" /> </th>
                <th class="id">ID</th>
                <th class="name">NAME</th>
                <th class="breed">BREED</th>
                <th class="age">AGE</th>
                <th class="mod">LAST MODIFIED</th>
                <th class="status">STATUS</th>
            </tr>
            </thead>
        </table>
        <table v-if="horses" class="body">
            <tbody >
                <tr v-for="(horse, index) in horses" :key="index" @click="navigate(horse.id, horse)">
                  <td><input type="checkbox" /></td>
                    <td class="id">{{horse.id}}</td>
                    <td class="name">{{horse.name}}</td>
                    <td class="breed">{{horse.breed}}</td>
                    <td class="age">{{horse.age}}</td>
                    <td class="mod">{{horse.updatedAt}}</td>
                    <td class="status">{{horse.status}}</td>
                </tr>
            </tbody>

        </table> 
  </div>
</template>

<script>
import Tabs from '@/components/blocks/tabs';
import {mapGetters, mapMutations} from 'vuex';

export default {
  name: 'horses-list',
  components: { Tabs },
  data() {
    return {
      tabs: {
        list: [
          { label: 'ALL', v: 'ALL' },
          { label: 'ACTIVE', v: true },
          { label: 'INACTIVE', v: false }
        ],
        active: { label: 'ALL' }
      }
    };
  },
  methods: {
    tabChange(tab) {
      // Implement code for when the user switches to the different tabs

    },
    navigate(id, current) {
      this.$store.commit("horses/SET_CURRENT", current);
      this.$router.push({ name: "horses.view", params: { id: id } });
    },
  },
    created(){
      this.$store.dispatch('horses/fetchAll')
    },
     computed:{
       ...mapGetters({
         horses: 'horses/list'
       })
     }
  }

</script>

<style lang="scss">
#horses-list {
   
}
</style>
