  <template>
  <div id="horses-view">
<h1>{{horse.name}}</h1>
  </div>
</template>

<script>
import {mapGetters, mapMutations} from 'vuex';
export default {
  name: 'horses-view',
  created(){
      this.$store.dispatch('horses/fetchOneLocal')
    },
     computed:{
       ...mapGetters({
         horse: 'horses/view'
       })
     }
};
</script>

<style lang="scss">
#horses-view {
}
</style>
