  <template>
  <div id="horses-view">
<!-- <h1>{{horse}}</h1> -->
  </div>
</template>

<script>
import store from '@/store';
import {mapGetters, mapState} from 'vuex';

export default {
  name: 'horses.view',
  props:{
    id:{
      type: String,
      required: true
    }
  },

    created(){
          this.$store.dispatch('horses/fetchOne', {
          id: this.id
        })
    },
     computed:{
       horse(){
       return store.state.horses
      //  let list = store.state.horses.list.items[0]
      //  console.log("Horses ", list.length)
      //  for(let i = 0; i < list.length; i++ ){
      //    const horse = list[i]
      //    console.log("id", this.id)
      //    console.log("Horse", horse)
      //    if(horse.id  === this.id) return horse
      //  }
       }
     }
};
</script>

<style lang="scss">
#horses-view {
}
</style>
