  <template>
  <div id="horses-view">

  </div>
</template>

<script>
export default {
  name: 'horses-view',
  created(){
      this.$store.dispatch('horses/fetchOneLocal')
    },
     computed:{
       ...mapGetters({
         horses: 'horses/view'
       })
     }
};
</script>

<style lang="scss">
#horses-view {
}
</style>
