  <template>
  <div id="horses-view">
<h1>{{horse.name}}</h1>
  </div>
</template>

<script>
import {mapGetters} from 'vuex';

export default {
  name: 'horses-view',
  props:{
    id:{
      type: String,
      required: true
    }
  },
  created(){
      this.$store.dispatch('horses/fetchOne', {
        id: this.id
      })
      .then((interaction) => this.interaction = interaction)
      .catch((error) => console.log(error))
    },
     computed:{
       ...mapGetters({
         horses: 'horses/list'
       }),

       horse(){
         const length = this.horses.length

         for(let i =0; i<length; i++){
           const horse = this.horses[i]
           if(horse.id === this.id) return horse
         }
       }
     }
};
</script>

<style lang="scss">
#horses-view {
}
</style>
