  <template>
  <div id="horses-view">
<h1>{{horse}}</h1>
  </div>
</template>

<script>
import store from '@/store';
import {mapGetters} from 'vuex';

export default {
  name: 'horses.view',
  props:{
    id:{
      type: String,
      required: true
    }
  },
  created(){
      this.$store.dispatch('horses/fetchOne', {
        id: this.id
      })
    },
     computed:{
       ...mapGetters({
         horses: 'horses/list'
       }),

       horse(){
        return store.state.current
       }

      //  horse(){
      //    const length = this.horses.length

      //    for(let i =0; i<length; i++){
      //      const horse = this.horses[i]
      //      if(horse.id === this.id) 
      //      console.log("this.id", this.id)
      //      console.log("Horse", horse)
      //      return horse
      //    }
      //  }
     }
};
</script>

<style lang="scss">
#horses-view {
}
</style>
