  <template>
  <div id="horses-view">
    <a @click="$router.go(-1)">ALL HORSES</a>
  <h1>{{horse.name}}</h1>
  <div class="rw">
<div class="cl-12">
  <form action="" id="left-form">
    <label for="">ID</label><br>
    <input type="text" v-model="horse.id">
    <label for="" >Name</label><br>
    <input type="text" v-model="horse.name">
    <label for="">Age</label><br>
    <input type="text" v-model="horse.age">
    <label for="">Breed</label><br>
    <input type="text" v-model="horse.breed">
  </form>
</div>
 <div class="cl-12">
  <img :src="horse.img" alt="">
  </div>
  </div>
  
  <br>
  <div class="rw">
 <form action="">
     <label for="">LAST MODIFIED</label><br>
    <input type="text" v-model="horse.updatedAt">
  </form>
  </div>
 
  </div>
</template>

<script>
import store from '@/store';
import {mapGetters} from 'vuex';

export default {
  name: 'horses.view',
  props:{
    id:{
      type: String,
      required: true
    }
  },

    created(){
          this.$store.dispatch('horses/fetchOneLocal', {
          key: 'id',
          value: this.id ,
        })
    },
     computed:{
        ...mapGetters({
         horse: 'horses/current'
       })
     }
};
</script>

<style lang="scss">
form{
  border: solid 1px #000 !important;
  padding: 16px;
  width: 50%;
}
img{
  display: flex;
  justify-content: flex-end;
  width: 50%;
  height: 50%;
}
</style>
