  <template>
  <div id="horses-view">
    <a @click="$router.go(-1)">ALL HORSES</a>
  <h1>{{horse.name}}</h1>
  <form action="">
    <label for="">ID</label><br>
    <input type="text" v-model="horse.id">
    <label for="" >Name</label><br>
    <input type="text" v-model="horse.name">
    <label for="">Age</label><br>
    <input type="text" v-model="horse.age">
    <label for="">Breed</label><br>
    <input type="text" v-model="horse.breed">
  </form>
  <br>
  <form action="">
     <label for="">LAST MODIFIED</label><br>
    <input type="text" v-model="horse.updatedAt">
  </form>
  </div>
</template>

<script>
import store from '@/store';

export default {
  name: 'horses.view',
  props:{
    id:{
      type: String,
      required: true
    }
  },

    created(){
          this.$store.dispatch('horses/fetchOne', {
          id: this.id
        })
    },
     computed:{
       horse(){
       return store.state.horses.current
       }
     }
};
</script>

<style lang="scss">
form{
  border: solid 1px #000 !important;
}
</style>
