  <template>
  <div id="horses-view">
<h1>{{horse.name}}</h1>
  </div>
</template>

<script>

export default {
  name: 'horses-view',
  props: ['id'],
  data: {
    value: {
      type: Object,
      required: true
  }
  },
  created(){
      this.$store.dispatch('horses/fetchOneLocal', {
        id: this.id,
        value: horse
      })
      .then((interaction) => this.interaction = interaction)
      .catch((error) => console.log(error))
    }
};
</script>

<style lang="scss">
#horses-view {
}
</style>
