  <template>
  <div id="horses-view">
<!-- <h1>{{horse}}</h1> -->
  </div>
</template>

<script>
import store from '@/store';
import {mapGetters} from 'vuex';

export default {
  name: 'horses.view',
  props:{
    id:{
      type: String,
      required: true
    }
  },
  created(){
      this.$store.dispatch('horses/fetchOne', {
        id: this.id
      }).then((horse) => this.horse = horse)
      .catch((err) => console.log(err));

    },
     computed:{

       horse(){
        return store.state
       }
     }
};
</script>

<style lang="scss">
#horses-view {
}
</style>
