  <template>
  <div id="horses-view">
    <p @click="$router.go(-1)">ALL HORSES</p>
  <h1>{{horse.name}}</h1>
  <form action="">
    <label for="">ID</label><br>
    <input type="text" value="">
    <label for="">Name</label><br>
    <input type="text" value="">
    <label for="">Age</label><br>
    <input type="text" value="">
    <label for="">Breed</label><br>
    <input type="text" value="">
  </form>
  </div>
</template>

<script>
import store from '@/store';
import {mapGetters, mapState} from 'vuex';

export default {
  name: 'horses.view',
  props:{
    id:{
      type: String,
      required: true
    }
  },

    created(){
          this.$store.dispatch('horses/fetchOne', {
          id: this.id
        })
    },
     computed:{
       horse(){
       return store.state.horses.current
       }
     }
};
</script>

<style lang="scss">
#horses-view {
}
</style>
