  <template>
  <div id="horses-view">
<!-- <h1>{{horse.name}}</h1> -->
  </div>
</template>

<script>

export default {
  name: 'horses-view',
  props: {
    id: String,
  },
  created(){
      this.$store.dispatch('horses/fetchOne', {
        id: this.id
      })
      .then((interaction) => this.interaction = interaction)
      .catch((error) => console.log(error))
    }
};
</script>

<style lang="scss">
#horses-view {
}
</style>
