  <template>
  <div id="horses-view">
<!-- <h1>{{horse}}</h1> -->
  </div>
</template>

<script>
import store from '@/store';
import {mapGetters, mapState} from 'vuex';

export default {
  name: 'horses.view',
  props:{
    id:{
      type: String,
      required: true
    }
  },

    beforeRouteEnter(){
          this.$store.dispatch('horses/fetchOne', {
          id: this.id
        })
    },
     computed:{

       horses(){
       let index = store.state.horses.currentIx
        store.state.horses.list.items[0]
        .array.forEach(element => {
          console.log (element)
        });
        return element
       }
     }
};
</script>

<style lang="scss">
#horses-view {
}
</style>
