  <template>
    <div class="horses-table">
        <table>
            <thead>
            <tr>
                <th><input type="checkbox" /> </th>
                <th class="id">ID</th>
                <th class="name">NAME</th>
                <th class="breed">BREED</th>
                <th class="age">AGE</th>
                <th class="mod">LAST MODIFIED</th>
                <th class="status">STATUS</th>
            </tr>
            </thead>
        </table>
        <table v-if="horses.data">
            <tbody >
                <tr v-for="horse in horses.data" :key="horse">
                    <td>{{horse.data.id}}</td>
                    <td>{{horse.data.name}}</td>
                    <td>{{horse.data.breed}}</td>
                    <td>{{horse.data.age}}</td>
                    <td>{{horse.data.updatedAt}}</td>
                    <td>{{horse.data.status}}</td>
                </tr>
            </tbody>

        </table> 
    </div>
</template>
<script>
import {mapActions, mapState} from 'vuex'
// import store from '../store/index'
export default {
  name: 'horses',
   methods: {
        ...mapActions([
            'getHorses'
        ])
    },

    computed: mapState([
        'horses'
    ])
  
}
</script>

<style scoped>
.horses-table{
     width: 100%;
     box-sizing: border-box;
     float: right;    
   }
   table{
       width: 100%;
       table-layout: fixed;
        place-items: center stretch;
   }
</style>